:root {
  --silver-color: silver;
  --white-color: white;
  --black-color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

.dark {
  background-color: black;
  color: silver;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.light a {
  color: black;
}

.dark a {
  color: silver;
}

body {
  min-height: 100vh;
}