.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nav__link {
    margin-left: 19px;
    color: silver;
    font-size: 20px;
    border-bottom: 2px solid black;
}

.nav__link:hover {
    color: gold;
    border-bottom: 2px solid gold;
}

.nav__link__active {
    color: gold;
    border-bottom: 2px solid gold;
    font-size: 20px;
}